body { margin: 60px auto; word-wrap:break-word; background: #FFFFFF}

a { text-decoration: none; color: #808080; }
a:hover { text-decoration: underline; }

p, ul { 
    font-family:'Roboto', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 1.1em; line-height: 1.4em; color: #333; 
}

h1, h2, h3, h4, h5 { 
    /*font-family:'Roboto', sans-serif;*/
     font-family: 'Open Sans', sans-serif;
    /* font-family: 'Helvetica', 'Arial', 'Sans-Serif'; */
}

.top-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2em;
    font-weight: bold;
}

.mid-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color:#1F618D;
}


nav ul, footer ul { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* CV */
.title-container { width: 70%; }
.title-container h4 { margin-bottom: 0.6em; color:#1F618D   }
i { color: #5D6D7E   ;  font-size: 50px;  margin-right: 0.2em;  }
.title-container .container-items h5 { font-family: 'Roboto', sans-serif;  margin: 0.5em; }
.title-container .container-items .grade {  font-size: 1.1em;  color: #2E4053; margin-top: 1.2em;}
.title-container .container-items .meta { font-size: 0.8em;  color: #7F8C8D; margin-bottom: 1.0em;}
.title-container .container-items .cv-description { display:block;  font-family:'Roboto', sans-serif; text-align: justify;}

.title-container .programming-lang-items .lang-item { margin: 0.5em; display: table-row;  }
.title-container .programming-lang-items h5 { padding-right: 2.5em; display: table-cell; }
.title-container .programming-lang-items progress { height: 15px;  display: table-cell; }

/* Publications */
ul.publ { font-size: 1.0em; margin-left: 0em; padding-left: 0.7em; }
ul.publ ul { font-size: 1.0em; }

/* individual device settings */

/* for smartphones */
@media only screen and (max-width: 768px){
    nav ul, footer ul { font-size: 1.2em; }
    body {width: 90%; }
    .title-container { width: 100%; }

    h1 { font-size: 2.7em;  }
    h2 { font-size: 2.4em; }
    h3 { font-size: 2.0em; }
    h4 { font-size: 1.6em; }
    h5 { font-size: 1.0em; }

}

/* for ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    nav ul, footer ul { font-size: 1.2em; }
    body {width: 90%; }
    .title-container { width: 100%; }

    h1 { font-size: 2.7em; }
    h2 { font-size: 2.4em; }
    h3 { font-size: 2.0em; }
    h4 { font-size: 1.6em; }
    h5 { font-size: 1.0em; }
}

/* for ipad pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    nav ul, footer ul { font-size: 1.2em; }
    body {width: 85%; }
    .title-container { width: 100%; }

    h1 { font-size: 2.7em;  }
    h2 { font-size: 2.4em; }
    h3 { font-size: 2.0em; }
    h4 { font-size: 1.6em; }
    h5 { font-size: 1.0em; }
}

/* all larger devices (laptoprs, desktops etc.) */
@media only screen and (min-width: 1025px) {
    nav ul, footer ul { font-size: 1em;}
    body { width: 60%; }
    .title-container { width: 100%; }

    h1 { font-size: 3em;  }
    h2 { font-size: 2.7em; }
    h3 { font-size: 2.3em; }
    h4 { font-size: 1.9em; }
    h5 { font-size: 1.0em; }
}